<li><a href="<%- url_for("/guide/") %>" class="nav-link<%- page.path.match(/guide\//) ? ' current' : '' %>">FairyGUI 教程</a></li>
<li><a href="<%- url_for("/examples/") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">在线示例</a></li>
<li><a href="<%- url_for("/release_notes/") %>" class="nav-link<%- page.path.match(/release_notes/) ? ' current' : '' %>">发行日志</a></li>